In [321]:
# Importing Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [322]:
# Setting cells to show all columns in output
pd.set_option('display.max_columns', None)

In [323]:
# Importing the Dataset
df=pd.read_csv('fifa21_raw_data.csv',low_memory=False)

In [324]:
# Viewing the first 5 rows of the df
df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,Weight,foot,BOV,BP,Growth,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",159lbs,Left,93,RW,0,"Jul 1, 2004",NaN,€67.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",183lbs,Right,92,ST,0,"Jul 10, 2018",NaN,€46M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",192lbs,Right,91,GK,2,"Jul 16, 2014",NaN,€75M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",154lbs,Right,91,CAM,0,"Aug 30, 2015",NaN,€87M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",150lbs,Right,91,LW,0,"Aug 3, 2017",NaN,€90M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [325]:
# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

## Converting height and weight columns to numerical values

In [326]:
# removing special charcters
df['Height'] = df['Height'].str.replace("'", ".").str.replace('"', "")

In [327]:
df['Height']

0         5.7
1         6.2
2         6.2
3        5.11
4         5.9
         ...
18974    5.10
18975     5.7
18976    5.10
18977     5.9
18978     5.9
Name: Height, Length: 18979, dtype: object

In [328]:
# changing the data type to float
df['Height']=df['Height'].astype('float')

In [329]:
df['Height'].dtype

dtype('float64')

In [330]:
# extracting the weight
df['Weight'] = df['Weight'].str[:-3]
df['Weight']

0        159
1        183
2        192
3        154
4        150
        ...
18974    154
18975    128
18976    146
18977    143
18978    150
Name: Weight, Length: 18979, dtype: object

In [331]:
# chaning data type to int
df['Weight']=df['Weight'].astype('int')

In [332]:
# renaming the columns
df=df.rename(columns={'Height':'Height_in_meters','Weight':'Weight_in_lbs'})

## Extracting team and contract from 'Team & Contract'	Column

In [333]:
df['Team & Contract']

0                    \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1                        \n\n\n\nJuventus\n2018 ~ 2022\n\n
2                 \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3                 \n\n\n\nManchester City\n2015 ~ 2023\n\n
4             \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
                               ...
18974    \n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...
18975             \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18976                  \n\n\n\nWuhan Zall\n2018 ~ 2022\n\n
18977             \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18978                \n\n\n\nClub Bolívar\n2020 ~ 2024\n\n
Name: Team & Contract, Length: 18979, dtype: object

In [334]:
df['Team & Contract']=df['Team & Contract'].str.replace('\n','')

In [335]:
df['Team & Contract']

0                               FC Barcelona2004 ~ 2021
1                                   Juventus2018 ~ 2022
2                            Atlético Madrid2014 ~ 2023
3                            Manchester City2015 ~ 2023
4                        Paris Saint-Germain2017 ~ 2022
                              ...
18974    Chongqing Dangdai Lifan FC SWM Team2020 ~ 2020
18975                        Oldham Athletic2020 ~ 2021
18976                             Wuhan Zall2018 ~ 2022
18977                        Oldham Athletic2020 ~ 2021
18978                           Club Bolívar2020 ~ 2024
Name: Team & Contract, Length: 18979, dtype: object

In [336]:
# Convert Team & Contract Column to str to clean it
df['Team & Contract'] = df['Team & Contract'].astype('str')

# Create Teams, Contract_Begins and Contract_Ends columns 
df['Teams'] = ""
df['Contract_Begins'] = ""
df['Contract_Ends'] = ""
df['Contract_Type'] = ""


for i in range(len(df['Team & Contract'])):
    if '~' in df.loc[i, 'Team & Contract']:
        df.loc[i, 'Teams']=df.loc[i, 'Team & Contract'][:-11]
        df.loc[i, 'Contract_Begins']=df.loc[i, 'Team & Contract'][-11:-7]
        df.loc[i, 'Contract_Ends']=df.loc[i, 'Team & Contract'][-4:]
        df.loc[i, 'Contract_Type']='Contract'
    elif 'Free' in df.loc[i, 'Team & Contract']:
        df.loc[i, 'Teams']=df.loc[i, 'Team & Contract'][:-4]
        df.loc[i, 'Contract_Begins']=np.nan
        df.loc[i, 'Contract_Ends']=np.nan
        df.loc[i, 'Contract_Type']='Free'
    else:
        c = df.loc[i, 'Team & Contract'].split(",")[0][-2:]
        if ((c == " 1") | (c == " 2") | (c == " 3") | (c == " 4") | (c == " 5") | (c == " 6") | (c ==" 7") | (c == " 8") | (c == " 9")):
            df.loc[i, 'Teams']= df.loc[i,'Team & Contract'][:-19]
            df.loc[i, 'Contract_Begins']= df.loc[i,'Team & Contract'][-12:-7]
            df.loc[i, 'Contract_Ends']=np.nan
            df.loc[i, 'Contract_Type']='On Loan'
        else:
            df.loc[i, 'Teams']= df.loc[i,'Team & Contract'][:-20]
            df.loc[i, 'Contract_Begins']= df.loc[i,'Team & Contract'][-12:-7]
            df.loc[i, 'Contract_Ends']=np.nan
            df.loc[i, 'Contract_Type']='On Loan'

In [337]:
df['Contract_Begins'].value_counts()

2020     5744
2019     5219
2018     2749
2017     1604
2021      882
2016      881
2015      523
2014      371
2013      205
2012      135
2020      113
2011      102
2010       61
2009       42
2008       32
2007       19
2022       17
2005       13
2006       11
2004        7
2003        6
2002        3
1998        1
2023        1
Name: Contract_Begins, dtype: int64

In [338]:
df['Contract_Ends'].value_counts()

2021    5959
2022    4244
2023    3418
2024    2206
2020    1289
2025     605
2026       5
2028       1
2027       1
Name: Contract_Ends, dtype: int64

In [339]:
df['Teams'].value_counts()

FC Barcelona           33
Spezia                 33
RC Celta               33
Racing Club de Lens    33
Torino                 33
                       ..
 Colombia               1
 Greece                 1
 Wales                  1
 Chile                  1
 Poland                 1
Name: Teams, Length: 714, dtype: int64

In [340]:
df['Contract_Type'].value_counts()

Contract    17728
On Loan      1013
Free          238
Name: Contract_Type, dtype: int64

# Convert the 'Joined' column to datetime

In [341]:
df['Joined'] = pd.to_datetime(df['Joined'])

In [342]:
df['Joined']

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2020-08-01
18975   2020-08-01
18976   2018-07-13
18977   2020-08-01
18978   2020-01-01
Name: Joined, Length: 18979, dtype: datetime64[ns]

# Converting 'Value', 'Wage' & 'Release Clause' into real numbers

In [343]:
# Remove the currency symbol and 'M' & 'K' from (Value, Wage & Release Clause) columns
for column in df.loc[:,'Value':'Release Clause']:
    for i in range(len(df)):
        if ('M' in df.loc[i,column]) and ('.' in df.loc[i,column]):
            df.loc[i,column] = df.loc[i,column].replace('€', '').replace('.','').replace('M', '00000')
        elif ('M' in df.loc[i,column]) and ('.' not in df.loc[i,column]):
            df.loc[i,column] = df.loc[i,column].replace('€', '').replace('M', '000000')
        elif ('K' in df.loc[i,column]) and ('.' in df.loc[i,column]):
            df.loc[i,column] = df.loc[i,column].replace('€', '').replace('.','').replace('K', '00')
        elif ('K' in df.loc[i,column]) and ('.' not in df.loc[i,column]):
            df.loc[i,column] = df.loc[i,column].replace('€', '').replace('K', '000')
        else:
            df.loc[i,column] = df.loc[i,column].replace('€', '')

In [344]:
df.loc[:,'Value':'Release Clause']

          Value    Wage Release Clause
0      67500000  560000      138400000
1      46000000  220000       75900000
2      75000000  125000      159400000
3      87000000  370000      161000000
4      90000000  270000      166500000
...         ...     ...            ...
18974     35000    1000          57000
18975     60000     500         165000
18976     40000    1000          70000
18977     60000     500         165000
18978     60000     500         167000

[18979 rows x 3 columns]

In [345]:
# Changing the data type to int64 for the 3 columns
df['Value']=df['Value'].astype('int64')
df['Wage']=df['Wage'].astype('int64')
df['Release Clause']=df['Release Clause'].astype('int64')